{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block navbar-left %}
  {% if gifs %}
   {% include "_navbar.html" with active_link="searchGif" %}
  {% else %}
   {% include "_navbar.html" with active_link="search" %}
  {% endif %}
{% endblock %}

{% block extrahead %}
{% autoescape off %}
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
$( document ).ready(function() {
    var data = {
        labels: {{ words }},
        datasets: [
          {
              label: "Related Words",
              fillColor: "rgba(151,187,205,0.2)",
              strokeColor: "rgba(151,187,205,1)",
              pointColor: "rgba(151,187,205,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(151,187,205,1)",
              data: {{ wordCount }}
          }
      ]
  };
    var ctx = document.getElementById("myChart").getContext("2d");
    var myRadarChart = new Chart(ctx).Radar(data);
});
</script>
{% endautoescape %}
{% endblock %}

    {% block container %}
    <div class="container">

      <div class="starter-template">
        <h1>What is it you're thinking of?</h1>
        <br>
        {% if gif %}
         <img src="{{ gif }}" alt="gif">
        {% elif words %}
         {% for w in words %}
          <ol>{{ w }}</ol>
         {% endfor %}
         <canvas id="myChart" width="400" height="400"></canvas>
        {% else %}
         {% if error_message %}<p>{{ error_message }}</p>{% endif %}
        {% if gifs %}
         <form class="form-inline" role="form" action="/searchGif/" method="post">
        {% else %}
         <form class="form-inline" role="form" action="/search/" method="post">
        {% endif %}
          {% csrf_token %}
          <div class="form-group">
            <label for="sub_words">Enter some words:</label>
            <input type="text" class="form-control" id="sub_words" name="sub_words" placeholder="awesome, exciting, wonderful">
          </div>
          <button type="submit" class="btn btn-default" name="search_thesaurus">Submit</button>
        </form>
        {% endif %}
      </div>

    </div><!-- /.container -->
    {% endblock container %}

    <!-- Site footer -->
    {% block footer %}
      <!-- Some social button for contact will do -->
      <a name="contact"></a>
      <div class="container">
            <div class="footer">
        <div class="row">
          <div class="col-lg-6">
              <p>&copy; Company {% now 'Y' %}</p>
          </div>
          <div class="col-lg-6 text-right">
            Connect with us on
            <a href="#"><i class="fa fa-facebook"></i> Facebook</a> or
            <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
          </div>
        </div>
            </div>
      </div>
    {% endblock %}
